<div class="footer-bottom bg-light text-muted">
  <div class="container">

    <!-- <p class="legal"> <em><strong>Disclaimer:</strong></em> No information contained herein should be regarded as a suggestion to engage in or refrain from any investment-related course of action as none of InvestBetz nor any of its affiliates is undertaking to provide investment advice, act as an adviser to any plan or entity subject to the Employee Retirement Income Security Act of 1974, as amended, individual retirement account or individual retirement annuity, or give advice in a fiduciary capacity with respect to the materials presented herein.
      If you are an individual retirement or other investor, contact your financial advisor or other fiduciary unrelated to InvestBetz about whether any given investment idea, strategy, product or service described herein may be appropriate for your circumstances. All investments involve risk, including loss of principal. InvestBetz makes no guarantees as to the accuracy or completeness of the views expressed in the website.
      The views are subject to change, and may have become unreliable for various reasons, including changes in market conditions or economic circumstances.
    </p> -->
    <p class="legal"> <em><strong>Disclaimer:</strong></em> Information on this website is for informational purposes regarding InvestBetz's platform and available plans only, and does not constitute investment advice. 
      InvestBetz and its affiliates do not provide investment advice, act as advisors to any ERISA plan, IRA, or IAA, or offer fiduciary advice. Consult a qualified financial advisor before making any investment decisions. 
      All investments and betting carry risk, including loss of principal.  Past performance is not indicative of future results. InvestBetz makes no guarantees regarding the accuracy or completeness of information on this website, which is subject to change without notice. 
      You are solely responsible for your choices regarding participation in InvestBetz plans.
    </p>

    <p class="grey-text">Use of this Site is subject to express terms of use. By using this site, you simply agree to the terms.</p>
    <p>
      <a class="grey-text text-darken-2" href="#">Terms</a> |
      <a class="grey-text text-darken-2" href="#">Privacy</a> |
      <a class="grey-text text-darken-2"  href="#">Cookies</a>
    </p>
    <p><small>Copyright &#64; {{ currentYear }} Async Groups. All rights reserved</small></p>
  </div>
</div>
