.wager-histories-container {
    margin: 3em;
    header {
        h5 {
          margin-bottom: 0.2em;
        }
        div {
          margin-bottom: 2em;
          font-family: monospace;
        }
      }
    .session {
        display: block;
    }
    .losed-wager {
        color: #d32f2f;
    }
    .won-wager {
        color: #0ca13e;
    }
}