<div class="container">
  <div class="row">
    <section class="col m6 s12 section cashout">
      <h5>CashOut Plan</h5>
      <div class="divider"></div>

      <div class="card meduim z-depth-5">
        <div class="card-content">
          <span class="card-title">About CashOut Plan</span>
          <p class="section grey-text text-darken-2">Invest a minimum of &#8358;5,000.00 and <b>CashOut</b> 2% of your invested amount daily for a week.</p>

          <p class="section grey-text text-darken-2">You get 2% return on your investment plus your initial investment after a week...</p>

          <br/><br/><br/><br/><br/>

          <p><small class="right orange-text text-darken-4"><span class="activator">Read More</span></small></p>
        </div>

        <div class="card-reveal">

          <span class="card-title grey-text text-darken-4">CashOut
            <span class="x"><i class="material-icons right red-text">close</i></span>
          </span>
          <div class="grey-text text-darken-4">

            <div class="list-type2">
              <ol>
                <li><p>A plan made for people who need short time investment scheme</p></li>
                <li><p>You <b>CashOut</b> twice in 30 days</p></li>
                <li><p>You get 2% of your investment each day except sundays</p></li>
                <li><p>Your account gets credited at most 48 hours after your withdrawal request except on weekends</p></li>
                <li><p>You Make CashOut investment twice (2 times) in a month</p></li>
              </ol>
            </div>

          </div>
        </div>

        <div class="card-action grey lighten-4">
          <div class="row">
            <a [routerLink]="['../../investments/cashout']" class="col s12 btn btn-large waves-effect waves-red">Start</a>
          </div>
        </div>
      </div>

    </section>


    <section class="col m6 s12 section cashup">
      <h5>CashUp Plan</h5>
      <div class="divider"></div>

      <div class="card medium z-depth-5">
        <div class="card-content">
          <span class="card-title">About CashUp Plan</span>

          <p class="section grey-text text-darken-2">Invest a minimum of &#8358;3,000.00 and <b>CashUp</b> 1% every 24 hours.</p>

          <p class="section grey-text text-darken-2">You can request withdrawal at the expiration of investement period or re-invest from your balance</p>

          <p class="section grey-text text-darken-2">You get 1% return on your investment every 24 hours plus your initial investment...</p>

          <p><small class="right orange-text text-darken-4"><span class="activator">Read More</span></small></p>
        </div>

        <div class="card-reveal">

          <span class="card-title">CashUp
            <span class="x"><i class="material-icons right red-text">close</i></span>
          </span>
          <div class="grey-text text-darken-4">

            <div class="list-type2">
                <ol>
                  <li><p>A plan made for people who need long time investment scheme</p></li>
                  <li><p>You <b>CashUp</b> at the end of your chosen investment period</p></li>
                  <li><p>You get 1% of your investment each day except sundays</p></li>
                  <!-- <li><p><b>CashUp</b> plan terminated before the end of the chosen investment period will attract 1.5% fee of the accumulated profit according to our terms and condition of use</p></li> -->
                  <li><p>Your account gets credited at most 48 hours after your withdrawal request except on weekends</p></li>
                  <li><p>You Make CashOut investment thrice (3 times) in a month</p></li>
                </ol>
              </div>

          </div>
        </div>

        <div class="card-action grey lighten-4">
          <div class="row">
            <a [routerLink]="['../../investments/cashup']" class="col s12 btn btn-large waves-effect waves-red">Start</a>
          </div>
        </div>
      </div>

    </section>
  </div>

</div>
