 /* Styles for mobile phones */
 @media only screen and (max-width: 768px) {

  .signin {
    font-size: 14px !important;
  }

  .carousel {
    width: 100%;
    .carousel-item {
      width: 37em !important;
      font-size: 0.5em;
      overflow: visible;
    }
  }

  .banner__info__sub-heading {
    width: 100% !important;
  }

}

/* Styles for tablets and small screen laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .carousel {
    width: 100%;
    .carousel-item {
      width: 50em !important;
      font-size: 0.5em;
      overflow: visible;
    }
  }

  .banner__info__sub-heading {
    width: 100% !important;
  }

}



