
<div class="container z-depth-5">
    <a [routerLink]="['../']"  class="x grey-text text-darken-1"> <i class="material-icons red-text">close</i> </a>
    
    <div class="row">

        <form class="col s8 offset-s2">
            <div class="row">
                <h5>Bank Deposit</h5>
      
                <div class="section">
                    <p>1. Go to any FCMB branch and deposit funds into your Traz Fund & Capital LTD. account using 2533256410. </p>
                    <p>2. Fill in the Slip, write account name etc. Write your names and specify your email ID on the back of the slip.</p>
                    <p>3. Ask the teller to deposit money to Traz Fund & Capital LTD. using Paydirect.</p>
                    <p>4. As soon as the teller confirms the payment, your investBetz account will be credited free of charge.</p>
                    <p>5. Please keep the receipt issued by the bank in case of any query.</p> 
                </div> 
             
            </div>
        </form>
    </div>
</div>
      