<div class="msg-container">

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col m3 s12">
          <a [routerLink]="['new']" class="waves-effect waves-red btn-large red lighten-1"><i class="material-icons left">message</i>New Message</a>
        </div>
        <div class="col m19 s12"></div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col m4 s12 msg-list">
      <ul class="collapsible popout z-depth-5">

        <li>
          <div class="collapsible-header"><i class="material-icons">inbox</i><strong>Received Messages</strong></div>
          <div class="collapsible-body">
            <!-- msg list -->
            <table class="table highlight responsive-table">
              <thead>
                <tr>
                  <th>Message title</th>
                  <th>Message category</th>
                  <th>Message date</th>
                </tr>
              </thead>

              <tbody>

               <!--  <tr *ngFor="let msg of receivedMsgs" [routerLink]="['../messages/view', msg._id]">
                  <td title="{{msg.msgSubject | titlecase }}" class="truncate">{{ msg.msgSubject | titlecase }}</td>
                  <td>{{ msg.msgCatetory | titlecase }}</td>
                  <td>{{ msg.msgDate | date}}</td>
                </tr> -->

              </tbody>
            </table>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="material-icons">drafts</i><strong>Sent Messages</strong></div>
            <div class="collapsible-body">
              <!-- msg list -->
              <table class="table highlight responsive-table">
                <thead>
                  <tr>
                    <th>Message title</th>
                    <th>Message category</th>
                    <th>Message date</th>
                    <th></th>
                  </tr>
                </thead>
  
                <tbody>
  
                  <tr *ngFor="let msg of sentMsgs">
                   <!--  <td [routerLink]="['../messages/view', msg._id]" title="{{msg.msgSubject | titlecase }}" class="truncate">{{ msg.msgSubject | titlecase }}</td>
                    <td [routerLink]="['../messages/view', msg._id]">{{ msg.msgCatetory | titlecase }}</td>
                    <td [routerLink]="['../messages/view', msg._id]">{{ msg.msgDate | date}}</td>
                    <td (click)="editMsg(msg._id)" title="Edit this message"><i class="material-icons">edit</i></td> -->
                  </tr>
  
                </tbody>
              </table>
            </div>
        </li>

      </ul>
    </div>

    <div class="col m8 s12">
      <!-- msg display panel -->
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
