<div class="card white-grey darken-1 hoverable">
    <div class="card-content grey-text text-lighten-1">
      <div class="row">
        <div class="col s4">
            <i class="medium material-icons orange-text">attach_money</i>
        </div>
        <div class="col s8 left-align orange-text truncate" title="{{ totalActivePlanDeposit | currency:'NIG':'&#8358;'}}">
          <div class="val">{{ totalActivePlanDeposit | currency:'NIG':'&#8358;'}}</div>
        </div>
      </div>
    </div>
    <div class="card-action grey-text text-darken-1 center-align orange lighten-4">
      <div>Total deposit of active plans</div>
    </div>
</div>