.profile-container {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 2em;
  margin-right: 2em;
  header {
    h5 {
      margin-bottom: 0.2em;
    }
    div {
      margin-bottom: 2em;
      font-family: monospace;
    }
  }
  .row {
    .col {
      mat-accordion {
        mat-expansion-panel {
          mat-expansion-panel-header {
            mat-panel-title {
              h6 {
                margin: 2em 0;
              }
            }
          }
          mat-panel-description {
            color: rgb(168, 165, 165);
            padding-top: 2em;
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .row {
    .col {
      height: auto; border-radius: 5px;
    }
  }
  .mobileSparce {
    margin-bottom: 3em;
  }
}