.wager-container {
  margin: 3em;
  header {
    h5 {
      margin-bottom: 0.2em;
    }
    div {
      margin-bottom: 2em;
      font-family: monospace;
    }
  }
  .card {
    .card-content {
      a {
        display: inline;
        position: relative;
        right: 1em;
        top: -1em;
      }
      p {
        b {
          color: #ffa000;
          font-size: 1em;
          margin-right: 1.5em;
        }
      }
    }
    .card-tabs {
      margin-top: 1em;
    }
  }
}


/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .help {
    display: inline;
    position: relative;
    left: 4.5em;
  }
}
