
<div class="wager-container">

  <div class="row">
    <div class="title col s6">
      <header class="wager-header">
          <h5>Wager panel</h5>
          <div class="grey-text">Take the risk yourself</div>
      </header>
    </div>
  </div>

  <div class="card">

    <div class="card-content">
      <a class="tooltipped orange-text" data-position="bottom" data-tooltip="Know more about wager" [routerLink]="['./about']">
        <i class="material-icons">help</i>
      </a>
      
      <p class="grey-text text-darken-1">
        <b>Warning Note:</b> Please note that you are not guaranteed a winning in any of your chosen wager odd. Click the help icon to know more about wager.
      </p>

         <!-- Switch -->
        <div class="switch right">
          <label>
            Off auto wager
            <input type="checkbox">
            <span class="lever"></span>
            On auto wager
          </label>
        </div>
    </div>

    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active"  href="#morning">Morning Wager</a></li>
        <li class="tab"><a href="#noon">Afternoon Wager</a></li>
        <li class="tab"><a href="#night">Evening Wager</a></li>
      </ul>
    </div>

    <div class="card-content grey lighten-4">
      <div id="morning">
        <app-wager-morning></app-wager-morning>
      </div>
      <div id="noon">
        <app-wager-noon></app-wager-noon>
      </div>
      <div id="night">
        <app-wager-night></app-wager-night>
      </div>
    </div>

  </div>

  


</div>
