.brand-logo {
  font-family: 'Playball-Regular';
  font-size: 2.2em;
  color: #212121;
  padding-left: 1em;
  cursor: pointer;
}

ul {
  li {
    a {
      color: black;
    }
  }
}

.nav-img {
  width: 33px;
  height: 33px;
  margin-right: 0.4em;
  top: 0.8em;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgb(194, 188, 188);
}

.cancel {
  cursor: pointer;
  margin-top: 1.4em !important;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .nav-img {
        border: 1px solid rgb(97, 93, 93);
    }
}
