<nav class="nav-extended">
  <div class="nav-wrapper z-depth-5">
      <a class="brand-logo" [routerLink]="['']">investraz</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['']">Sign in <i class="fas fa-user-lock"></i></a></li>
      </ul>

  </div>
</nav>


<div class="row" style="margin-top: 5em;">
  <div class="container">
      <div class="row" style="height: 25em;">
          <div class="col s12">

              <div class="row">

                  <div class="col m6 offset-m3 s12">
                      <h6 class="grey-text text-lighten-1" style="margin-bottom: 2em;">Password Recovery Form</h6>

                      <form [formGroup]="fpForm" (ngSubmit)="fpSubmit(fpForm.value)" autocomplete="off">

                          <div class="row">
                              <div class="input-field col s12">
                                  <input type="email" id="email" class="validate" formControlName="email" autofocus>
                                  <label for="email">Enter Your Email</label>
                                  <small class="helper-text alert" *ngIf="fpForm.controls['email']?.invalid && fpForm.controls['email']?.touched">
                                      <span *ngIf="fpForm.controls['email']?.errors?.['required']">Your account email is required</span>
                                      <span *ngIf="fpForm.controls['email']?.errors?.['email']">Invalid email format</span>
                                  </small>
                              </div>
                          </div>

                          <div class="row center-align">
                              <div class="col s12">
                                  <div *ngIf="errMsg" class="row error-msg" [@fadeInOut]>
                                      <span>{{ errMsg }}</span>
                                  </div>
                              </div>

                              <div class="col s12">
                                  <div *ngIf="sucMsg" class="row success-msg" [@fadeInOut]>
                                      <span>{{ sucMsg }}</span>
                                  </div>
                              </div>
                          </div>

                          <div class='row'>
                              <button type='submit' [disabled]="!fpForm.valid || loading || disabled" class="col s12 btn btn-large waves-effect waves-red">
                                  <span class="spinner" *ngIf="loading">
                                      <div class="bounce1"></div>
                                      <div class="bounce2"></div>
                                      <div class="bounce3"></div>
                                  </span>
                                  Submit
                              </button>
                          </div>

                      </form>

                      <div class="row center-align">
                          <div class="col s12 cancel">
                              <a [routerLink]="['']">I know my password already</a>
                          </div>
                      </div>

                  </div>

              </div>

          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
<app-footer-bottom></app-footer-bottom>