<div class="card white-grey darken-1 hoverable">
    <div class="card-content grey-text text-lighten-1">
      <div class="row">
        <div class="col s4">
            <i class="medium material-icons green-text">attach_money</i>
        </div>
        <div class="col s8 left-align green-text truncate" title="{{ totalActivePlanProfit | currency:'NIG':'&#8358;'}}">
          <div class="val">{{ totalActivePlanProfit | currency:'NIG':'&#8358;'}}</div>
        </div>
      </div>
    </div>
    <div class="card-action grey-text text-darken-1 center-align green lighten-4">
      <div>Total profit of active plans</div>
    </div>
</div>
