<!-- <div class="corners">
  <div class="corner__header">
    Simple Things We Help You With
  </div>

  <div class="corner__body">
    <ul>
      <li>1) We give you 1% everyday if you use our CashUp plan</li><br>
      <li>2) We give you 2% in a week if you use our CashOut plan</li><br>
      <li>3) We list 3 of our best odds everyday for you to wager on</li><br>
    </ul>
  </div>

  <div class="corner__footer">
    <a href="#auth" class="btn btn-small waves-effect waves-red modal-trigger">Check It Out</a>
  </div>
</div> -->

<div class="row center-align">

  <div class="col m4 s12">
    <i class="medium material-icons red-text text-lighten-2">pie_chart</i>
    <!-- We give you 1% everyday for CashUp plan and 2% for CashOut plan-->
    <h6 class="text-muted">Get 1% or 2% On Daily Bases </h6>
    <p class="justify">We give 1% daily on CashUp plan and 2% for a period of one week for CashOut plan </p>
  </div>
  <div class="col m4 s12">
    <i class="medium material-icons red-text text-lighten-2">business_center</i>
    <!-- We list 3 of our best odds everyday for you to wager on -->
    <h6 class="text-muted">Use Wager to Win More </h6>
    <p class="justify">After adequate and thourough analysis of daily games, we display 3 of our best choice at interval of morning, afternoon and evening.
      You make more winnings using our Wagers.
    </p>
  </div>
  <div class="col m4 s12">
    <i class="medium material-icons red-text text-lighten-2">content_copy</i>
    <!-- You use our Copy bet feature to copy bet of top bettors -->
    <h6 class="text-muted">CopyBet from Season Bettors </h6>
    <p class="justify">
      We have a long list of seasoned and proven bettors who understand how the game flows. With CopyBet, you can automatically copy their bets each time they place one.
    </p>
  </div>

</div>
