  <!-- Financial Growth Box (65%) -->
  <div class="col m3 s12">
    <!-- <app-financial-growth></app-financial-growth> -->
  </div>

  <!-- Deposit Box (N54,500.00) -->
  <div class="col m3 s12">
    <!-- <app-active-plan-deposit></app-active-plan-deposit> -->
  </div>

  <!-- Profit Box (N65,00.00) -->
  <div class="col m3 s12">
   <!--  <app-active-plan-profit></app-active-plan-profit> -->
  </div>

   <!-- Withdrawal Box (N65,00.00) -->
   <div class="col m3 s12">
    <!-- <app-pending-withdrawal></app-pending-withdrawal> -->
  </div>

