<div class="card white-grey darken-1 hoverable">
    <div class="card-content grey-text text-lighten-1">
      <div class="row">
        <div class="col s4 center-align">
            <i class="medium material-icons blue-text">donut_large</i>
        </div>
        <div class="col s8 center-align blue-text" title="{{ fgb | percent }}">
          <div class="val">{{ fgb | percent }}</div>
        </div>
      </div>
    </div>
    <div class="card-action grey-text text-darken-1 center-align blue lighten-4">
      <div>Avarage financial growth rate</div>
    </div>
</div>
