<nav class="nav-extended">
  <div class="nav-wrapper z-depth-5">
    <a class="brand-logo" [routerLink]="['']">investraz</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li> -->
      <li><a [routerLink]="['']">Sign in <i class="fas fa-user-lock"></i></a></li>
    </ul>

  </div>
</nav>


<div class="row" style="margin-top: 5em;">
  <div class="container">
    <div class="row" style="height: 25em;">
      <div class="col s12">

        <div class="row">

          <div class="col m6 offset-m3 s12">
            <h6 class="grey-text text-lighten-1" style="margin-bottom: 2em;">New Pasword Form</h6>

            <form [formGroup]="newPasswordForm" (ngSubmit)="newPasswordSubmit(newPasswordForm.value)" autocomplete="off">

              <div class="row">
                <div class="input-field col s12">
                  <input type="password" id="password" class="validate" formControlName="password" autofocus appAppPasswordToggle>
                  <label for="password">Enter Your New Password</label>
                  <small class="helper-text alert" *ngIf="!newPasswordForm.controls['password'].value && newPasswordForm.controls['password'].touched">
                    <span *ngIf="newPasswordForm.controls['password'].errors.required">Your new password is required</span>
                  </small>
                </div>
              </div>

              <div class="row center-align">
                <div clas="col s12">
                  <div *ngIf="errMsg" class="row error-msg" [@fadeInOut]>
                    <span>{{ errMsg }}</span>
                  </div>
                </div>

                <div clas="col s12">
                  <div *ngIf="sucMsg" class="row success-msg" [@fadeInOut]>
                    <span>{{ sucMsg }}</span>
                  </div>
                </div>
              </div>

              <div class='row'>
                <button type='submit' [disabled]="!newPasswordForm.valid || disabled" class="col s12 btn btn-large waves-effect waves-red">
                  <span class="spinner" *ngIf="loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </span>
                  Submit
                </button>
              </div>

            </form>

            <div class="row center-align">
              <div class="col s12 cancel">
                <a [routerLink]="['']">I know my password already</a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<app-footer></app-footer>
<app-footer-bottom></app-footer-bottom>
