header {
    h5 {
      margin-bottom: 0.2em;
    }
    div {
      margin-bottom: 2em;
      font-family: monospace;
    }
  }
.wager-upload {
    
    .vs {
        padding: 2rem 0 0 1.5rem;
        font-weight: bold;
    }
    .add_filed {
        margin-top: 2.5rem;
        cursor: pointer;
    }
}