.container {
    .x {
        position: relative;
        float: right;
        top: 3px;
        right: 5px;
        height: 1.8em;
        width: 1.8em;
        z-index: 3;
    }
    .x:hover {
        color: #aaa;
    }
    margin-top: 3em;
    .section {
      padding: 2em 5em;
      .row {
        .col {
          h6 {
            margin-bottom: 2em;
            text-align: center;
          }
        }
      }
    }
  }
  
  /* Extra small devices (phones, up to 480px) */
  @media screen and (max-width: 767px) {
    .section {
      padding: 1em 1em;
    }
  }
  