<div class="history-container">
  <div class="row">
    <div class="col s12">

        <ul class="collapsible popout z-depth-5 grey-text text-darken-1">

          <li class="active panel">
            <div class="collapsible-header"><i class="material-icons">event_note</i>Investment/Wager Histories</div>
            <div class="collapsible-body">
              <app-investment-history></app-investment-history>
            </div>
          </li>

          <li class="panel">
            <div class="collapsible-header"><i class="material-icons">monetization_on</i>Withdrawal Histories</div>
            <div class="collapsible-body">
              <app-withdrawal-history></app-withdrawal-history>
            </div>
          </li>

          <li class="panel">
            <div class="collapsible-header"><i class="material-icons">credit_card</i>Deposit Histories</div>
            <div class="collapsible-body">
              <app-deposit-history></app-deposit-history>
            </div>
          </li>

        </ul>

    </div>
  </div>
</div>
