.readMsg-container {
    margin: 3em;
    .readMsgPanel {
      min-height: 21em;
      margin-top: -3em;
      padding-left: 2.5em;
      padding-right: 2.5em;
      padding-bottom: 2.5em;
      border-radius: 10px;
    }
  }
  
  
  h5 {
    padding-top: 2em;
  }
  
  .x {
    position: relative;
    float: right;
    top: 3px;
    right: 5px;
    height: 1.8em;
    width: 1.8em;
    z-index: 3;
  }
  
  /* Extra small devices (phones, up to 480px) */
  @media screen and (max-width: 767px) {
    .readMsg {
      min-height: 20em;
      margin-top: 0;
    }
  
  }
  