<div *ngIf="afternoonOdd then showResult else noResult"></div>

  <ng-template #showResult>

    <div class="row">
      <div class="col s12">

        <table class="responsive-table">
          <thead>
            <tr>
              <th>Odd Value</th>
              <th>Winning Chances</th>
              <th>Wager Amount</th>
              <th>Place Wager</th>
              <th>Payout Amount</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td [ngClass]="{'red-text text-darken-1': isExpired}">
                  <small class="grey-text text-lighten-1">Afternoon Odd:</small><br>
                {{afternoonOdd}}<br>
                <small><b>Expires: {{afternoonCountdown}}</b></small>
              </td>

              <td class="center-align">
                <div class="progress">
                  <div class="determinate" [ngClass]="progressWidth(afternoonOdd)"></div>
                </div>
                <small>You have <b>{{oddStrength(afternoonOdd)}}</b> {{getImpliedProbability(afternoonOdd)}}% chances of winning</small>
              </td>

              <td class="row">
                <div class="input-field">
                  <input id="sodd" class="validate" type="text" [(ngModel)]="wagerAmount" (ngModelChange)="checkWagerAmount($event)"/>
                  <label for='sodd'>Enter your wager amount</label>
                  <small class="helper-text orange-text text-darken-3">Amount range for Wager is &#8358; 500.00 - &#8358; 50,000.00 </small>
                </div>
              </td>

              <td>
                <button [disabled]="wagerSubmitBtn || isExpired" (click)="submitAfternoonOdd()" class="btn btn-small waves-effect waves-red">Submit </button>
              </td>

              <td>{{wagerPayoutAmount | currency:'NIG':'&#8358;'}}<br>
                <small *ngIf="amountPayable">Payable: {{amountPayable | currency:'NIG':'&#8358;'}}</small>
              </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>

</ng-template>

<ng-template #noResult>
    <div class="row">
        <div class="col s12 center-align red-text text-lighten-1">
            No wager odds available for afternoon session yet!
        </div>
    </div>
</ng-template>