<div class="carousel">

  <div class="carousel-item" href="#one!">
    <div class="row">
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="'img/users/template.png'" class="circle" style="width: 60px">
              <h5>Hannah Woko Lope</h5>
            </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item" href="#two!">
    <div class="row">
      <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
                <img [src]="'img/users/template.png'" class="circle" style="width: 60px">
                <h5>Hannah Woko</h5>
              </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="carousel-item" href="#three!">
    <div class="row">
      <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
              <img [src]="'img/users/template.png'" class="circle" style="width: 60px">
                <h5>Fynface NeWoko</h5>
              </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="carousel-item" href="#four!">
    <div class="row">
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="'img/users/template.png'" class="circle" style="width: 60px">
              <h5>James Wike</h5>
            </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item" href="#five!">
    <div class="row">
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="'img/users/template.png'" class="circle" style="width: 60px">
              <h5>Imenwo Woko</h5>
            </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
